<html>
    <head>
    <meta charset="utf-8">
    <title>Project Name</title>
            <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <!-- ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>    
            <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
            <!-- socket.io -->
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
            <!-- codemirror -->
        <script type="text/javascript" src="/js/codemirror.js"></script>
            <!-- codemirror styles -->
        <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/isotope.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/the-matrix.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/railscasts.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/midnight.css">
        <link rel="stylesheet" type="text/css" href="/css/theme/yeti.css">


        <!-- modes for codemirror -->
        <script src="/mode/javascript/javascript.js"></script>
        <script src="/mode/ruby/ruby.js"></script>
        <script src="/mode/python/python.js"></script>
        <script src="/mode/css/css.js"></script>
        <script type="text/javascript" src="/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="/mode/xml/xml.js"></script>



        <!-- main css styles -->
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <!-- main javascript file -->
        <script src="/js/project.js"></script>
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <div>
                  <img class="navbar-brand-icon" src = "/assets/navbar-brand-icon.png">
                </div> -->
                <a class="navbar-brand" href="/">RPP</a>
            </div>
            <div class="collapse navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign Out</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>         
            </div>
        </nav>
    </head>

    <body>
        <textarea id='textzone'>
            <p>hello world</p>

            function hello() {
                console.log("hello world");
            }
            def hello
                p "hello world"
            end

            print "Hello World!";

            </textarea>
        <select id="selectMode">
            <option value="xml">html</option>
            <option value="css">css</option>
            <option value="javascript">javascript</option>
            <option value="ruby">ruby</option>
            <option value="python">python</option>
        </select>
        <select id="selectTheme">
            <option value="default">default</option>
            <option value="isotope">isotope</option>
            <option value="the-matrix">the-matrix</option>
            <option value="midnight">midnight</option>
            <option value="railscasts">railscasts</option>
            <option value="yeti">yeti</option>
        </select>
        <script type="text/javascript">

            var editor = CodeMirror.fromTextArea(document.getElementById("textzone"), {
                  lineNumbers: true,
                  mode: "xml",
                  htmlMode: true,
                  theme: "default"
            });

        </script>
        <div class="chat">
            <ul id="messages"></ul>
            <form action="" id="messageForm">
                <input id="m" autocomplete="off" maxlength="255"/><button id="chatSubmit">Send</button>
            </form>
        </div>
    </body>
</html>