
p{
	color: black;
	background: lightblue;
}
#signup{
	width: 100px;
	height: 25px;
	font-size: 11px;
}
body{
	padding-top: 50px;
}
* {
	margin: 0;
	padding: 0;
}

form {
	background #000;
	padding: 3px;
	bottom: 0;
	width: 100%;
}

#messages{
	height: 150px;
	width: 400;
	overflow-y: scroll;
	overflow-x: auto;
}

